.terreno{
  background-color: yellow;
  display:inline-block;
  text-align: center;
  position: relative;
  top: 10vh;
  left:20vw;
  overflow: hidden;
}
.terreno div:not(.martillo){
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  background-color: blue;
  display: inline-block;

}

.martillo{
  background-color: transparent;
  display:inline-block;
  position: absolute;

}
.martillo img{

  width: 150px;
  height: 150px;
}

.puntuacion{
  background-color: grey;
  position:fixed;
  top:0;
  left:0;
}
